@font-face {
  font-family: Blazed;
  src: url('_static/Blazed.ttf');
}

body {
  background-color: #EEEEEE;
  margin: 0;
}

a {
  color: #880000;
}

h1 {
  font-family: Blazed;
  color: #FFFFFF;
  text-shadow: #333333 2px 2px 5px;
  margin: 0;
  padding: 0;
}

h2 {
  color: #000000;
  text-shadow: #FFFFFF 0 0 10px;
  font-size: 12pt;
  margin: 0;
  padding: 0 0 0 5px;
}

h3 {
  color: #000000;
  text-shadow: #AAAAAA 1px 1px 2px;
  background: #DDDDDD;
  border-bottom: 2px solid #AA5555;
  padding: 5px 10px;
  margin: 15px 0 5px;
}

#header {
  background: #AA0000;
  border-bottom: 1px solid #000000;
  padding: 10px 2px;
}

#footer {
  color: #888888;
  border-top: 1px solid #AAAAAA;
  padding: 5px;
}

.text {
  padding: 0 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 20px 0;
}
