body {
  background-color: #000000;
}

#wrapper {
  background-color: #EEEEEE;
  width: 800px;
  margin: 20px auto 0;
  border-radius: 10px;
}

h1 {
  background-color: #008800;
  color: #FFFFFF;
  border-bottom: 1px solid #888888;
  text-shadow: #333333 2px 2px;
  padding: 5px 10px;
}

h2 {
  padding: 5px 10px;
}

.text {
  padding: 5px 10px;
}

.footer {
  border-top: 1px solid #DDDDDD;
  margin: 10px 0 0 0;
  padding: 5px;
}
