@font-face {
  font-family: Blazed;
  src: url('_static/Blazed.ttf');
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

a {
  color: #880000;
}

#wrapper {
  position: relative;
  background-color: #EEEEEE;
  margin: 0 auto;
  min-height: 100%;
  width: 800px;
}

#header {
  background: url('_static/flag.png') #AA0000 no-repeat 730px;
  border-bottom: 1px solid #000000;
  padding: 10px;
  height: 75px;
  width: 780px;
}

h1 {
  font-family: Blazed;
  font-size: 28pt;
  color: #FFFFFF;
  text-shadow: #333333 2px 2px 5px;
  margin: 0;
  padding: 0;
}

h2 {
  color: #000000;
  text-shadow: #FFFFFF 0 0 10px;
  font-size: 12pt;
  margin: 0;
  padding: 0 0 0 5px;
}

h3 {
  color: #000000;
  text-shadow: #AAAAAA 1px 1px 2px;
  background: #DDDDDD;
  border-bottom: 2px solid #AA5555;
  padding: 5px 10px;
  margin: 15px 0 5px;
}

#content {
  padding: 10px 0 40px;
  width: 780px;
}

.text {
  padding: 5px 10px;
}

#footer {
  position: absolute;
  padding: 5px;
  border-top: 1px solid #AAAAAA;
  font-size: 10pt;
  color: #888888;
  bottom: 0;
  height: 40px;
  width: 790;
}
